{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro - Portal Prácticas TI</title>
  <link rel="stylesheet" href="{% static 'portal/style.css' %}">
</head>
<body>

  <header class="header">
    <div class="brand">Portal de Prácticas TI</div>
    <ul class="nav">
      <li><a href="{% url 'index' %}">Inicio</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'registro' %}" class="active">Registro</a></li>
    </ul>
  </header>

  <section class="section">
    <div class="login-container">
      <h2>Crear Cuenta</h2>

      {% if messages %}
        {% for msg in messages %}
          <p style="color:red;">{{ msg }}</p>
        {% endfor %}
      {% endif %}

      <form method="post">
        {% csrf_token %}
        
        <label for="id_username">Nombre de usuario:</label>
        {{ form.username }}

        <label for="id_email">Correo:</label>
        {{ form.email }}

        <label for="id_password1">Contraseña:</label>
        {{ form.password1 }}

        <label for="id_password2">Confirmar contraseña:</label>
        {{ form.password2 }}

        <label>Rol:</label>
        <div class="radio-group">
            {{ form.role }}
        </div>

        <button type="submit">Registrarse</button>
      </form>
    </div>
  </section>

</body>
</html>
